.venv
venv/
venv/*
assets/uploads/*
html
.idea
.vscode
vendor/__pycache__/
_keenthemes/__pycache__/*
_keenthemes/__pycache__
_keenthemes/__pycache__/
_keenthemes/libs/__pycache__/
dashboards/__pycache__/
.html
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
