<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Главная" %}{% endblock %}

{% block content %}

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <!--begin::Content wrapper-->
                <div class="d-flex flex-column flex-column-fluid">
                    <!--begin::Toolbar-->
                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                        <!--begin::Toolbar container-->

                        <!--end::Toolbar container-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Content-->
                    <div id="kt_app_content" class="app-content flex-column-fluid">
                        <!--begin::Content container-->
                        <div id="kt_app_content_container" class="app-container container-xxl">
                            <!--begin::Form-->
                            <form id="kt_ecommerce_edit_order_form" class="form d-flex flex-column flex-lg-row" data-kt-redirect="../../demo1/dist/apps/ecommerce/catalog/products.html">
                                {% csrf_token %}
                                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                                    <!--begin:::Tabs-->
                                    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2">
                                        <!--begin:::Tab item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general">Основные</a>
                                        </li>
                                        <!--end:::Tab item-->
                                        <!--begin:::Tab item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_add_product_advanced">Расширенные</a>
                                        </li>
                                        <!--end:::Tab item-->
                                    </ul>
                                    <!--end:::Tabs-->
                                    <!--begin::Tab content-->
                                    <div class="tab-content">
                                        <!--begin::Tab pane-->
                                        <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
                                            <div class="d-flex flex-column gap-7 gap-lg-7">
                                                <!--begin::General options-->
                                                <div class="card card-flush py-4">
                                                    <!--begin::Card header-->
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                            <h2>Основные</h2>
                                                        </div>
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label" for="full_name">Полное имя</label>
                                                            <input type="text" id="full_name" name="full_name" class="form-control mb-2" placeholder="Полное имя" value="" />
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label" for="phone_number">Номер телефона</label>
                                                            <input type="text" id="phone_number" name="phone_number" class="form-control mb-2" placeholder="Номер телефона" value="" />
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label" for="dropshipper">Дропшиппер</label>
                                                            <select id="dropshipper" name="dropshipper" class="form-select mb-2" data-control="select2" data-placeholder="Выберите дропшиппера" data-allow-clear="true">
                                                                <option></option>
                                                                {% for drop in dropshippers.all %}
                                                                <option value="{{drop}}">{{ drop.user.first_name }} {{ drop.user.last_name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                            </span>
                                                            <div class="text-muted fs-7">Выберите или добавьте нового.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="products">
                                                <div class="card card-flush py-4" name="add_product_card" id="add_product_card">
                                                    <!--begin::Card header-->
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                            <h2>Выберите товар</h2>
                                                        </div>
                                                    </div>

                                                    <div class="card-body pt-0">
                                                        <div class="d-flex flex-column gap-10">
                                                            <div class="separator"></div>
                                                            <div class="d-flex align-items-center position-relative mb-n7">
                                                                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                                                                    <span class="path1"></span>
                                                                    <span class="path2"></span>
                                                                </i>
                                                                <input type="text" data-kt-ecommerce-edit-order-filter="search" class="form-control form-control-solid w-100 w-lg-50 ps-12" placeholder="Поиск товаров" />
                                                            </div>
                                                            <div class="table-container">
                                                            <div class="bg p-5 rounded">
                                                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_edit_order_product_table">
                                                                <thead>
                                                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                                                        <th class="w-25px pe-2"></th>
                                                                        <th class="min-w-200px">Товары</th>
                                                                        <th class="min-w-100px text-end pe-5">Осталось на складе</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="fw-semibold text-gray-600">
                                                                    {% for prod in products %}
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                                <input class="form-check-input" type="checkbox"value="1" data-product-id="{{prod.id}}" data-fv-not-empty="true" data-fv-not-empty___message="Выберите продукт" />
                                                                              </div>                                                                              
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex align-items-center" data-kt-ecommerce-edit-order-filter="product" data-kt-ecommerce-edit-order-id="product_1">
                                                                                <!--begin::Thumbnail-->
                                                                                <a href="../products/{{prod.id}}" class="symbol symbol-50px">
                                                                                    <span class="symbol-label" style="background-image:url(/{{prod.image}})"></span>
                                                                                </a>
                                                                                <div class="ms-5">
                                                                                    <a href="../products/{{prod.id}}" class="text-gray-800 text-hover-primary fs-5 fw-bold">{{prod.name}}</a>
                                                                                    <div class="fw-semibold fs-7">Цена: 
                                                                                    <span data-kt-ecommerce-edit-order-filter="price">{{prod.price}}</span></div>
                                                                                    <div class="text-muted fs-7" name="product_id" id="{{prod.id}}">{{prod.id}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-end pe-5" data-order="23">
                                                                            <span class="fw-bold ms-3">{{prod.quantity}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                            </div>
                                                            <div class="bg p-1 rounded">
                                                                <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 border border-dashed rounded pt-3 pb-1 px-2 mb-5 mh-300px overflow-scroll" id="kt_ecommerce_edit_order_selected_products">
                                                                    <span class="w-100 text-muted" name="product"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        </div>
                                                    </div>
                                                    <div class="card card-flush py-4">
                                                        <div class="card-body pt-0">
                                                            <!--begin::Input group-->
                                                            <div class="mb-10 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="form-label" for="products_amount">Количество</label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                <input type="text" name="products_amount" class="form-control mb-2" placeholder="Количество" value="1" />
                                                                <!--end::Input-->
                                                                <!--begin::Description-->
                                                                <!--end::Description-->
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="form-label" for="cost_price">Себестоимость</label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                <input type="text" name="cost_price" class="form-control mb-2" placeholder="Себестоимость" value="" />
                                                                <!--end::Input-->
                                                                <!--begin::Description-->
                                                                <!--end::Description-->
                                                            </div>
                                                            <div class="mb-10 fv-row">  
                                                                <!--begin::Label-->
                                                                <label class="form-label" for="drop_price">Дроп цена</label>

                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                <input type="text" name="drop_price" class="form-control mb-2" placeholder="Дроп цена" value="" />
                                                                <!--end::Input-->
                                                                <!--begin::Description-->
                                                                <!--end::Description-->
                                                            </div>
                                                            <div class="mb-10 fv-row">  
                                                                <!--begin::Label-->
                                                                <label class="form-label" for="sell_price">Цена продажи</label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                <input type="text" name="sell_price" class="form-control mb-2" placeholder="Цена продажи" value="" />
                                                                <!--end::Input-->
                                                                <!--begin::Description-->
                                                                <!--end::Description-->
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="form-label">Размер</label>
                                                                <select class="form-select mb-2" data-control="select2" data-placeholder="Выберите размер" data-allow-clear="true" multiple="multiple" name="sizes">
                                                                    <option></option>
                                                                    <option value="S">S</option>
                                                                    <option value="M">M</option>
                                                                    <option value="L">L</option>
                                                                </select>
                                                                <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                            </div>
                                                        </div>
                                                        <!--end::Card body-->
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-check form-check-custom form-check-solid">
                                                    <button type="button" class="btn btn-outline btn-light-primary" id="add_product"><i class="ki ki-duotone ki-plus icon"></i>Добавить товар</button>
                                                </div>
                                                                 
                                                    <div class="card card-flush py-4">
                                                        <!--begin::Card header-->
                                                        <div class="card-header">
                                                            <div class="card-title">
                                                                <h2>Доставка</h2>
                                                            </div>
                                                        </div>
                                                        <!--end::Card header-->
                                                        <!--begin::Card body-->
                                                        <div class="card-body pt-0">
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="contractor">Контрагент</label>
                                                                <select id="contractor" name="contractor" class="form-select mb-2" data-control="select2" data-placeholder="Выберите контрагента" data-allow-clear="true" multiple="multiple">
                                                                    <option></option>
                                                                    <option value="Computers"></option>
  
                                                                </select>
                                                                <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="weight">Вес</label>
                                                                <input type="text" id="weight" name="weight" class="form-control mb-2" placeholder="Вес" value="" />
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="quantity">Количество мест</label>
                                                                <input type="text" id="quantity" name="quantity" class="form-control mb-2" placeholder="Количество мест" value="1" />
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="contents">Содержимое</label>
                                                                <input type="text" id="contents" name="contents" class="form-control mb-2" placeholder="Содержимое" value="" />
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="city">Город получателя</label>
                                                                <select id="city" name="city" class="form-select mb-2" data-control="select2" data-placeholder="Город получателя" data-allow-clear="true">
                                                                    <option></option>
                                                                    <option value="Киев">Киев</option>
                                                                    <option value="Харьков">Харьков</option>
                                                                    <option value="Днепр">Днепр</option>
                                                                    <option value="Львов">Львов</option>
                                                                    <option value="Одеса">Одеса</option>
                                                                  </select>
                                                                <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="recipient_post_office">Отделение почты получателя</label>
                                                                <select id="recipient_post_office" name="recipient_post_office" class="form-select mb-2" data-control="select2" data-placeholder="Отделение почты получателя" data-allow-clear="true">
                                                                    <option></option>
                                                                    <option value="Computers"></option>
                                                                </select>
                                                                <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                            </div>
                                                            <div class="form-check form-check-custom form-check-solid mb-5">
                                                                <input class="form-check-input" type="checkbox" id="sender_shipping" name="sender_shipping" value="">
                                                                <label class="form-check-label" for="sender_shipping" style="color: black;">Доставка за счет отправителя</label>
                                                            </div>
                                                            <div class="form-check form-check-custom form-check-solid mb-5">
                                                                <input class="form-check-input" type="checkbox" id="pickup" name="pickup" value="">
                                                                <label class="form-check-label" for="pickup" style="color: black;">Самовывоз</label>
                                                            </div>
                                                            <div class="fv-row">
                                                                <div class="form-check form-check-custom form-check-solid mb-5">
                                                                    <input class="form-check-input" type="checkbox" id="courier_shipping" name="courier_shipping" value="1">
                                                                    <label class="form-check-label" for="courier_shipping" style="color: black;">Доставка курьером</label>
                                                                </div>
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="ttn_number">Номер ТТН</label>
                                                                <input type="text" id="ttn_number" name="ttn_number" class="form-control mb-2" placeholder="Номер ТТН" value="" />
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="prepayment">Предоплата</label>
                                                                <input type="text" id="prepayment" name="prepayment" class="form-control mb-2" placeholder="Предоплата" value="0" />
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="cod">Наложенный платеж</label>
                                                                <input type="text" id="cod" name="cod" class="form-control mb-2" placeholder="Наложенный платеж" value="" />
                                                            </div>
                                                            <div class="mb-10 fv-row">
                                                                <label class="form-label" for="note">Примечание</label>
                                                                <textarea id="note" class="form-control form-control" rows="4" name="note" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                        
                                                        <!--end::Card body-->
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="d-flex justify-content-end mt-5">
                                        <a href="../orders/" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Отменить</a>
                                        <button type="button" id="kt_ecommerce_edit_order_submit" class="btn btn-primary">
                                            <span class="indicator-label">Сохранить</span>
                                            <span class="indicator-progress">Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                </div>
                                <!--end::Main column-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Content container-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Content wrapper-->
                <!--begin::Footer-->

                <!--end::Footer-->
            </div>
        </div>
        <!--end::Content wrapper-->
        <!--begin::Footer-->

        <!--end::Footer-->
    </div>
</div>
<!--end::Row-->

{% endblock content %}