<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Главная" %}{% endblock %}

{% block content %}

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <!--begin::Content wrapper-->
                <div class="d-flex flex-column flex-column-fluid">
                    <!--begin::Toolbar-->
                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                        <!--begin::Toolbar container-->
                        <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                <!--begin::Title-->
                                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Добавить товар</h1>
                                <!--end::Title-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-4 my-0 pt-1">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                        <a href="../{{category.id}}" class="text text-hover-primary">{{category.name}}</a>
                                    </li>
                                    <!--end::Item-->
                                    {% if subcategory %}
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">{{subcategory.name}}</li>
                                    <!--end::Item-->
                                    {% endif %}
                                </ul>
                                <!--end::Breadcrumb-->
                            </div>
                            <!--end::Page title-->
                        </div>
                        <!--end::Toolbar container-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Content-->
                    <div id="kt_app_content" class="app-content flex-column-fluid">
                        <!--begin::Content container-->
                        <div id="kt_app_content_container" class="app-container container-xxl">
                            <!--begin::Form-->
                            <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row" data-kt-redirect="../{{category.id}}">
                                {% csrf_token %}
                                <!--begin::Aside column-->
                                <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                                    <!--begin::Настройки миниатюры-->
                                    <div class="card card-flush py-4">
                                        <!--begin::Card header-->
                                        <div class="card-header">
                                            <!--begin::Card title-->
                                            <div class="card-title">
                                                <h2>Thumbnail</h2>
                                            </div>
                                            <!--end::Card title-->
                                        </div>
                                        <!--end::Card header-->
                                        <!--begin::Card body-->
                                        <div class="card-body text-center pt-0">
                                            <!--begin::Image input-->
                                            <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                                                <!--begin::Preview existing avatar-->
                                                <div class="image-input-wrapper w-150px h-150px" style="background-image: url(/{{product.image}})"></div>
                                                <!--end::Preview existing avatar-->
                                                <!--begin::Label-->
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                                                    <i class="ki-duotone ki-pencil fs-7">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                    <!--begin::Inputs-->
                                                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg">
                                                    <input type="hidden" name="avatar_remove">
                                                    <!--end::Inputs-->
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Cancel-->
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                                                    <i class="ki-duotone ki-cross fs-2">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                </span>
                                                <!--end::Cancel-->
                                                <!--begin::Remove-->
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                                                    <i class="ki-duotone ki-cross fs-2">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                </span>
                                                <!--end::Remove-->
                                            </div>
                                            <!--end::Image input-->
                                            <!--begin::Description-->
                                            <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                                            <!--end::Description-->
                                        </div>
                                        <!--end::Card body-->
                                    </div>
                                    <!--end::Настройки миниатюры-->
                                    <!--begin::Статус-->
                                    <div class="card card-flush py-4">
                                        <!--begin::Заголовок карточки-->
                                        <div class="card-header">
                                            <!--begin::Заголовок карточки-->
                                            <div class="card-title">
                                                <h2>Статус</h2>
                                            </div>
                                            <!--end::Заголовок карточки-->
                                            <!--begin::Инструменты карточки-->
                                            <div class="card-toolbar">
                                                <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
                                            </div>
                                            <!--begin::Инструменты карточки-->
                                        </div>
                                        <!--end::Заголовок карточки-->
                                        <!--begin::Тело карточки-->
                                        <div class="card-body pt-0">
                                            <!--begin::Select2-->
                                            <select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Выберите опцию" id="kt_ecommerce_add_product_status_select">
                                                <option></option>
                                                <option value="published" selected="selected">Опубликовано</option>
                                                <option value="draft">Черновик</option>
                                                <option value="scheduled">Запланировано</option>
                                                <option value="inactive">Неактивно</option>
                                            </select>
                                            <!--end::Select2-->
                                            <!--begin::Описание-->
                                            <div class="text-muted fs-7">Установите статус продукта.</div>
                                            <!--end::Описание-->
                                            <!--begin::Выбор даты-->
                                            <div class="d-none mt-10">
                                                <label for="kt_ecommerce_add_product_status_datepicker" class="form-label">Выберите дату и время публикации</label>
                                                <input class="form-control" id="kt_ecommerce_add_product_status_datepicker" placeholder="Выберите дату и время" />
                                            </div>
                                            <!--end::Выбор даты-->
                                        </div>
                                        <!--end::Тело карточки-->
                                    </div>
                                    <!--end::Статус-->
                                    <!--begin::Категории и теги-->
                                    <div class="card card-flush py-4">
                                        <!--begin::Заголовок карточки-->
                                        <div class="card-header">
                                            <!--begin::Заголовок карточки-->
                                            <div class="card-title">
                                                <h2>Категории</h2>
                                            </div>
                                            <!--end::Заголовок карточки-->
                                        </div>
                                        <!--end::Заголовок карточки-->
                                        <!--begin::Тело карточки-->
                                        <div class="card-body pt-0">
                                            <!--begin::Группа ввода-->
                                            <!--begin::Метка-->
                                            <!--end::Метка-->
                                            <!--begin::Select2-->
                                            <select class="form-select mb-2" data-control="select2" name="category" data-placeholder="Выберите категорию" data-allow-clear="true">
                                                {% if product.category %}
                                                <option selected value="{{product.category.id}}">{{product.category}}</option>
                                                {% else %}
                                                <option></option>
                                                {% endif %}
                                                {% for cat in user.vendor.categories.all %}
                                                <option value="{{cat.id}}">{{cat}}</option>
                                                {% endfor %}
                                            </select>
                                            <!--end::Select2-->
                                            <!--begin::Описание-->
                                            <div class="text-muted fs-7 mb-7">Добавьте товар в категорию.</div>
                                            <!--end::Описание-->
                                            <!--end::Группа ввода-->
                                            <!--begin::Кнопка-->
                                            <a href="../new" class="btn btn-light-primary btn-sm mb-10">
                                                <i class="ki-duotone ki-plus fs-2"></i>Создать новую категорию</a>
                                            <!--end::Кнопка-->
                                            <!--begin::Группа ввода-->
                                            <!--begin::Метка-->
                                            {% if product.subcategory %}
                                            <select class="form-select mb-2" data-control="select2" name="subcategory" data-placeholder="Выберите подкатегорию" data-allow-clear="true">
                                                {% if product.subcategory %}
                                                <option selected value="{{product.subcategory.id}}">{{product.subcategory}}</option>
                                                {% else %}
                                                <option></option>
                                                {% endif %}
                                                {% for sub in user.vendor.subcategories.all %}
                                                <option value="{{sub.id}}">{{sub}}</option>
                                                {% endfor %}
                                            </select>
                                            {% endif %}
                                            <!--end::Select2-->
                                            <!--begin::Описание-->
                                            <div class="text-muted fs-7 mb-7">Добавьте товар в подкатегорию.</div>

                                            <a href="../{{category.id}}/add_subcategory" class="btn btn-light-primary btn-sm mb-10">
                                                <i class="ki-duotone ki-plus fs-2"></i>Создать новую подкатегорию</a>
                                        </div>
                                        <!--end::Тело карточки-->
                                    </div>
                                </div>
                                
                                <!--end::Aside column-->
                                <!--begin::Main column-->
                                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                                    <!--begin:::Tabs-->
                                    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2">
                                        <!--begin:::Tab item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general">Основные</a>
                                        </li>
                                        <!--end:::Tab item-->
                                        <!--begin:::Tab item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_add_product_advanced">Расширенные</a>
                                        </li>
                                        <!--end:::Tab item-->
                                    </ul>
                                    <!--end:::Tabs-->
                                    <!--begin::Tab content-->
                                    <div class="tab-content">
                                        <!--begin::Tab pane-->
                                        <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
                                            <div class="d-flex flex-column gap-7 gap-lg-10">
                                                <!--begin::General options-->
                                                <div class="card card-flush py-4">
                                                    <!--begin::Card header-->

                                                    <!--end::Card header-->
                                                    <!--begin::Card body-->
                                                    <div class="card-body pt-0">
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Label-->
                                                            <label class="form-label">Название</label>
                                                            <!--end::Label-->
                                                            <!--begin::Input-->
                                                            <input type="text" name="name" class="form-control mb-2" placeholder="Название" value="{{product.name}}" />
                                                            <!--end::Input-->
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label">Производитель</label>
                                                            <input type="text" name="manufacturer" class="form-control mb-2" placeholder="Производитель" value="" />
                                                            <div class="text-muted fs-7">Необязательно</div>
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label">Себестоимость</label>
                                                            <input type="text" name="cost_price" class="form-control mb-2" placeholder="Себестоимость" value="{{product.cost_price}}" />
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label">Дроп цена</label>
                                                            <input type="text" name="drop_price" class="form-control mb-2" placeholder="Дроп цена" value="{{product.drop_price}}" />
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label">Цена продажи</label>
                                                            <input type="text" name="sell_price" class="form-control mb-2" placeholder="Цена продажи" value="{{product.sell_price}}" />
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label">Артикул</label>
                                                            <input type="text" name="product_name" class="form-control mb-2" placeholder="Артикул" value="" />
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <label class="form-label">Вес</label>
                                                            <input type="text" name="product_name" class="form-control mb-2" placeholder="Вес" value="" />
                                                        </div>
                                                        <div>
                                                            <label class="form-label">Описание</label>
                                                            <div id="kt_ecommerce_add_product_description" name="description" class="min-h-200px mb-2" ><p>{{product.description}}</p></div>
                                                        </div>
                                                        <div class="" data-kt-ecommerce-catalog-add-product="auto-options">
                                                            <!--begin::Label-->
                                                            <label class="form-label">Размеры</label>
                                                            <!--end::Label-->
                                                            <!--begin::Repeater-->
                                                            <div id="kt_ecommerce_add_product_options">
                                                                <!--begin::Form group-->
                                                                <div class="form-group">
                                                                    <div data-repeater-list="kt_ecommerce_add_product_options" class="d-flex flex-column gap-3">
                                                                        <div data-repeater-item="" class="form-group d-flex flex-wrap align-items-center gap-5">
                                                                            <!--begin::Select2-->
                                                                            <div class="w-100 w-md-200px">
                                                                                <select class="form-select" name="product_option" data-placeholder="Выберите размер" data-kt-ecommerce-catalog-add-product="product_option">
                                                                                    <option></option>
                                                                                    <option value="color">S</option>
                                                                                    <option value="size">M</option>
                                                                                    <option value="material">L</option>
                                                                                    <option value="style">XL</option>
                                                                                </select>
                                                                            </div>
                                                                            <!--end::Select2-->
                                                                            <!--begin::Input-->
                                                                            <input type="text" class="form-control mw-100 w-200px" name="product_option_value" placeholder="В наличии" />
                                                                            <!--end::Input-->
                                                                            <button type="button" data-repeater-delete="" class="btn btn-sm btn-icon btn-light-danger">
                                                                                <i class="ki-duotone ki-cross fs-1">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                                </i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end::Form group-->
                                                                <!--begin::Form group-->
                                                                <div class="form-group mt-5">
                                                                    <button type="button" data-repeater-create="" class="btn btn-sm btn-light-primary">
                                                                    <i class="ki-duotone ki-plus fs-2"></i>Добавить еще размер</button>
                                                                </div>
                                                                <!--end::Form group-->
                                                            </div>
                                                            <!--end::Repeater-->
                                                        </div>
                                                        <div class="mb-10 fv-row" style="margin-top: 30px;">
                                                            <div class="form-check form-check-custom form-check mb-2">
                                                                <input class="form-check-input" name="preorder" type="checkbox" {% if product.preorder %} checked {% endif %}/>
                                                                <label class="form-check-label fs-6" style="color: black;">Доступен предзаказ</label>
                                                            </div>
                                                        </div>
                                                        <div class="mb-10 fv-row">
                                                            <div class="form-check form-check-custom form-check mb-2">
                                                                <input class="form-check-input" type="checkbox" {% if product.hidden_from_drop %} checked {% endif %}/>
                                                                <label class="form-check-label fs-6" style="color: black;">Скрытый от дропшиппера</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Card header-->
                                                </div>
                                                <!--end::General options-->
                                                <!--begin::Media-->
                                                <div class="card card-flush py-4">
                                                    <!--begin::Card header-->
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                            <h2>Изображения</h2>
                                                        </div>
                                                    </div>
                                                    <!--end::Card header-->
                                                    <!--begin::Card body-->
                                                    <div class="card-body pt-0">
                                                        <!--begin::Input group-->
                                                        <div class="fv-row mb-2">
                                                            <!--begin::Dropzone-->
                                                            <div class="dropzone" id="kt_ecommerce_add_product_media">
                                                                <!--begin::Message-->
                                                                <div class="dz-message needsclick">
                                                                    <!--begin::Icon-->
                                                                    <i class="ki-duotone ki-file-up text-primary fs-3x">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                    </i>
                                                                    <!--end::Icon-->
                                                                    <!--begin::Info-->
                                                                    <div class="ms-4">
                                                                        <h3 class="fs-5 fw-bold text-gray-900 mb-1">Перетащите или выберите изображения</h3>
                                                                        <span class="fs-7 fw-semibold text-gray-400">Загрузите до 10 файлов</span>
                                                                    </div>
                                                                    <!--end::Info-->
                                                                </div>
                                                            </div>
                                                            <!--end::Dropzone-->
                                                        </div>

                                                    </div>
                                                    <!--end::Card header-->
                                                </div>
                                                <!--end::Media-->
                                                <!--begin::Pricing-->
                                                <!--end::Pricing-->
                                            </div>
                                        </div>
                                        <!--end::Tab pane-->
                                        <!--begin::Tab pane-->
                                        <div class="tab-pane fade" id="kt_ecommerce_add_product_advanced" role="tab-panel">
                                            <div class="d-flex flex-column gap-7 gap-lg-10">
                                                <!--begin::Inventory-->
                                                <!--end::Meta options-->
                                            </div>
                                        </div>
                                        <!--end::Tab pane-->
                                    </div>
                                    <!--end::Tab content-->
                                    <div class="d-flex justify-content-end">
                                        <!--begin::Button-->
                                        <a href="../{{category.id}}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Отменить</a>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                                            <span class="indicator-label">Сохранить</span>
                                            <span class="indicator-progress">Пожалуйста подождите
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                </div>
                                <!--end::Main column-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Content container-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Content wrapper-->
                <!--begin::Footer-->

                <!--end::Footer-->
            </div>
        </div>

    </div>
</div>
<!--end::Row-->

{% endblock content %}