<!--begin::sidebar menu-->
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
	<!--begin::Menu wrapper-->
	<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
		<!--begin::Menu-->
		<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
			<!--begin:Menu item-->
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu link-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="menu-link" href="../main/">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-burger-menu-2 fs-4x">
							<i class="path1"></i>
							<i class="path2"></i>
							<i class="path3"></i>
							<i class="path4"></i>
							<i class="path5"></i>
							<i class="path6"></i>
							<i class="path7"></i>
							<i class="path8"></i>
							<i class="path9"></i>
							<i class="path10"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Главная</h3>
					</a>
					<!--end:Menu link-->
				</div>
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="menu-link" href="../orders/">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-abstract-14 fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Все заказы</h3>
					</a>
					<!--end:Menu link-->
				</div>
				<div class="menu-item">
					<a class="menu-link" href="#">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-clipboard fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">В работе</h3>
					</a>
				</div>	<!--end:Menu link-->
				<div class="menu-item">
					<a class="menu-link" href="#">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-plus fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Добавить заказ</h3>
					</a>
				</div>
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="menu-link" href="../categories/">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-shop fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
								<i class="path3"></i>
								<i class="path4"></i>
								<i class="path5"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Склад</h3>
					</a>
				</div>
				<div class="menu-item">
					<a class="menu-link" href="#">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-menu fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Категории</h3>
					</a>
				</div>
				<div class="menu-item">
					<a class="menu-link" href="#">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-purchase fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Товары</h3>
					</a>
				</div>
				<div class="menu-item">
					<a class="menu-link" href="#">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-people fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Дропшипперы</h3>
					</a>
				</div>
				<div class="menu-item">
					<a class="menu-link" href="#">
						<span class="menu-icon" style="margin-bottom: 10px; margin-right: 10px;">
							<i class="ki-duotone ki-wallet fs-4x">
								<i class="path1"></i>
								<i class="path2"></i>
							</i>
						</span>
						<h3 class="menu-title" style="margin-left: 10px;">Выплаты</h3>
					</a>
				</div>
			</div>
		</div>	
		<!--end::Menu-->
	</div>
	<!--end::Menu wrapper-->
</div>
<!--end::sidebar menu-->
