<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">

	<!--begin::Activities-->
	<div class="app-navbar-item ms-1 ms-md-3">
		<!--begin::Drawer toggle-->
		<div class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px" id="kt_activities_toggle">
			<i class="ki-duotone ki-notification fs-2 fs-md-1">
				<i class="path1"></i>
				<i class="path2"></i>
				<i class="path3"></i>
				</i></div>
		<!--end::Drawer toggle-->
	</div>
	<!--end::Activities-->

	<!--begin::Theme mode-->
	<div class="app-navbar-item ms-1 ms-md-3">
		{% include 'partials/theme-mode/_main.html' %}
	</div>
	<!--end::Theme mode-->
	<!--begin::User menu-->
	<div class="app-navbar-item ms-1 ms-md-3" id="kt_header_user_menu_toggle">
		<!--begin::Menu wrapper-->
		<!-- <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"> -->
			<!-- <img src="{% static '/media/avatars/300-1.jpg' %}" alt="user" /> -->
		<!-- </div> -->
		<div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
		<i class="ki-duotone ki-setting-2 fs-2 fs-md-1">
			<i class="path1"></i>
			<i class="path2"></i>
		</i>
		</div>
		{% include 'partials/menus/_user-account-menu.html' %}
		<!--end::Menu wrapper-->
	</div>
	<!--end::User menu-->
	<!--begin::Header menu toggle-->
	<div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
		<div class="btn btn-icon btn-active-color-primary w-30px h-30px w-md-35px h-md-35px" id="kt_app_header_menu_toggle">{% getIcon 'text-align-left' 'fs-2 fs-md-1' %}</div>
	</div>
	<!--end::Header menu toggle-->
</div>
<!--end::Navbar-->
